<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/villas">villas</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '物化的美 - 北京尚层装饰',
      keywords: '物化的美',
      description: '田中一光曾经说过，音乐一旦被刻录，那种感动的情绪就被打了折扣;颜色一旦被涂上，就会随着时间褪色。真正的美无法被分析和管理，只会精巧地存在于幻想中。'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
