<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/furnishings">furnishings</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '室内软装配饰_照片墙，让墙面更精彩_尚层别墅装饰软装设计专栏',
      keywords: '别墅装修案例,别墅装修设计,别墅装修,室内软装配饰',
      description: '尚层装饰软装陈设栏目,提供最新别墅陈设设计案例、软装配饰方案,尚层装饰顶级陈设设计师在线为您详解陈设系统服务流程、陈设生活.贵宾专线：400-650-2118'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
