<template>
  <section class="container">
    <div>
      <logo/>
      <h2>furnishings</h2>
      <h3 class="links"><nuxt-link to="/furnishings/details">details</nuxt-link></h3>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '尚层别墅装饰软装设计专栏_别墅装修软装案例_尚层装饰官网',
      keywords: '别墅陈设设计，陈设设计方案，别墅室内设计，软装设计，软装配饰，别墅陈设设计案例',
      description: '尚层装饰软装陈设栏目，提供最新别墅陈设设计案例、软装配饰方案，尚层装饰顶级陈设设计师在线为您详解陈设系统服务流程、陈设生活。贵宾专线:400-650-2118。'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
