<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/embodiments">embodiments</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '汉高百得TA250瓷砖粘合剂 - 北京尚层装饰',
      keywords: '汉高百得TA250瓷砖粘合剂',
      description: '汉高粘合剂有限公司上海分公司(德国汉高)主要从事：生产粘合剂、建筑化学品涂料和办，尚层别墅装修设计公司在进行别墅施工时墙面瓷砖薄贴材料所选用的是汉高百得TA250瓷砖粘合剂，该产品具有以'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
