<template>
  <section class="container">
    <div>
      <logo/>
      <h2>embodiments</h2>
      <h3 class="links"><nuxt-link to="/embodiments/details">details</nuxt-link></h3>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '施工材料_别墅装修设计公司 别墅装饰领军企业——尚层装饰官网',
      keywords: '施工材料别墅装修，别墅设计，高端别墅装修，别墅装饰，高端别墅装饰，高端别墅设计',
      description: '施工材料尚层装饰，中国别墅装饰领军企业,高端别墅装修设计解决专家，提供别墅装饰整体规划设计与施工、别墅设备、主材、家具、配饰私属定制服务。尚层装饰热线:400-650-2118'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
