<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/constructions">constructions</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '金科王府在施工地_金科王府施工现场_尚层装饰别墅装修公司',
      keywords: '金科王府别墅装修在施工地_金科王府别墅施工现场_尚层装饰别墅装修在施工地',
      description: '尚层装饰在施工地专区,提供工长装修施工工地,包括各所在地区、户型、面积、预算、工长等多项信息,并提供在线咨询、申请参观等服务,为您家装、找工长做最有价值的参考.尚层装饰工地热线：400-650-2118'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
