<template>
  <section class="container">
    <div>
      <logo/>
      <h2>constructions</h2>
      <h3 class="links"><nuxt-link to="/constructions/details">details</nuxt-link></h3>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '北京别墅装修在施工地_施工现场 – 北京尚层装饰',
      keywords: '北京别墅装修在施工地，北京别墅装饰施工现场，北京别墅装修设计，北京别墅装修工地，北京别墅装潢施工',
      description: '北京尚层装饰别墅施工现场专区，悉心精选北京别墅装修设计装修工地、联排、叠拼等不同户型的别墅装修实景装修施工图，简约、奢华、混搭等不同风格主题的别墅设计施工工地，北京尚层装饰为您的别墅装修提供绝佳的装修施工案例体验。'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
