<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/designers">designers</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '姚奕宾别墅设计师_姚奕宾别墅设计师风格_姚奕宾别墅装修设计师效果图-尚层装饰',
      keywords: '姚奕宾别墅设计师效果图,姚奕宾别墅装修设计师,姚奕宾设计师别墅装修,姚奕宾设计师',
      description: '尚层装饰别墅设计师姚奕宾拥有10年以上高端别墅、豪宅全案系统设计经验,设计师作品曾被《新浪家居》《瑞丽家居》、新浪乐居、搜房等刊登报道,设计师姚奕宾预约专线：400-650-2118'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
