<template>
  <section class="container">
    <div>
      <logo/>
      <h2>designers</h2>
      <h3 class="links"><nuxt-link to="/designers/details">details</nuxt-link></h3>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '北京别墅设计师_北京别墅装修装饰 – 北京尚层装饰',
      keywords: '北京别墅装修设计师，北京别墅装饰设计师，北京别墅装修设计，北京别墅装修设计方案，北京别墅装潢设计师',
      description: '北京尚层装饰别墅装修频道，悉心精选别墅装修原创案例，独栋、联排、叠拼等不同户型的的别墅装修实景图，简约、奢华、混搭等不同风格主题的别墅设计效果图大全，北京别墅频道为您选择别墅装修设计师提供便捷的服务资料.'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
