<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/about">about</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>

</style>
