<template>
  <section class="container">
    <div>
      <logo/>
      <h2>about</h2>
      <h3 class="links"><nuxt-link to="/about/details">details</nuxt-link></h3>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '品牌故事 尚层装饰_别墅装修设计公司,别墅装饰领军企业——尚层装饰官网'
    }
  },
  head () {
    return {
      title: this.title
    }
  }
}
</script>

<style>

</style>
