<template>
  <section class="container">
    <div>
      <logo/>
      <h2>index</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  props: [

  ],
  components: {
    Logo
  },
  data () {
    return {

    }
  }
}
</script>

<style>

</style>
