<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/cases">cases</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '轻奢风格远洋天著别墅装修设计_轻奢有度_雅致共赏',
      keywords: '『轻奢有度，雅致共赏』——远洋天著别墅装修设计',
      description: '『轻』 是一种舒适、低调，却无损高贵与雅致的态度。『奢』 是一种奢华，却不会让人产生压力的精致的品质生活状态。『轻奢』——“没负担、有品'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
