<template>
  <section class="container">
    <div>
      <logo/>
      <h2>cases</h2>
      <h3 class="links"><nuxt-link to="/cases/details">details</nuxt-link></h3>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '北京别墅装修案例_样板间效果图_实景图 – 北京尚层装饰',
      keywords: '别墅装修，别墅装饰， 别墅装修设计，别墅设计，别墅装潢',
      description: '尚层装饰别墅装修案例专区，悉心精选别墅装修设计案例，独栋、联排、叠拼等不同户型的别墅装修实景图，简约、奢华、混搭等不同风格主题的别墅设计效果图大全，尚层装饰为您的别墅提供绝佳的装修设计全案体验。'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
