<template>
  <section class="container">
    <div>
      <logo/>
      <h2 class="links"><nuxt-link to="/properties">properties</nuxt-link> ---->details</h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data () {
    return {
      title: '燕西华府装修_燕西华府装修设计_燕西华府装修设计方案_尚层装饰',
      keywords: '燕西华府装修,燕西华府别墅装修,燕西华府设计,燕西华府装修设计,燕西华府装饰设计,燕西华府别墅装修设计,尚层别墅装饰',
      description: '燕西华府装修服务专区,为您提供最新的燕西华府装修方案、燕西华府装修效果图、燕西华府装修实景图和最新燕西华府装修动态。燕西华府装修服务热线：400-650-2118'
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.keywords },
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>

</style>
